<h1>Adicione um novo restaurante</h1>

<form action="create" method='post'>
  <p>Nome: <input type="text" name='name' ></p>
  <p>Address: <input type="text" name='address' ></p>
  <p>Rating: <input type="text" name='rating' ></p>

  <p><button>Salvar</button></p>
</form>